:root {
    --color-bg-primary: #2e222e;
    --color-bg-secondary: #212429;
} 

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: radial-gradient(circle at top center, var(--color-bg-primary)  10%, var(--color-bg-secondary) 90%);
    background-repeat: no-repeat;
}

.container {
    outline: 2px solid red;
    padding: 0 3%;
    height: 100vh;
}

.navbar {
    /* outline: 2px solid red; */
}

.navbar ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.lvl4 {
    position: relative;
    /* color: red; */
}

.lvl4 ul {
    display: none;
}

.lvl3 ul > li:hover .lvl4 ul {
    position: absolute;
    display: block;
    /* padding-top: 10px;  */
     top: 100%;
    left: 0; 
    /* outline: 2px solid red; */
    padding:5px;
}

.lvl5 {
    position: relative;
}
.lvl5 ul {
    display: none;
}

.lvl3 ul li:last-child:hover .lvl5 ul {
    position: absolute;
    display: block;
}

